body{
  background-color: lightblue;
}
nav{
  text-align: center;
  color: red;
}
.orbit{
  text-align: center;
  color: orange;
}
h1{
  font-family: 'Lobster', cursive;
}
h1, p{
  color: green;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}
#slogan{
  font-style: italic;
  font-size: 22px;
}
